# Ignore everything
/wp-admin
/wp-includes
/wp-content/themes/*
/wp-content/plugins/*
/wp-content/languages/*
/readme.html
/wp-activate.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-settings.php
/wp-load.php
/wp-trackback.php
/wp-login.php
/wp-mail.php
/wp-signup.php
/xmlrpc.php
/wp-links-opml.php
/license.txt
/index.php
/wp-blog-header.php
/wp-comments-post.php
.htaccess
/.vscode/*


!/wp-content/languages/wgtheme
!/wp-content/plugins/wgtheme/
!/wp-content/themes/wgtheme/
